.section {
  padding-top: 51px;
  overflow: hidden;
}
.List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 40px;
  /* identical to box height */

  color: #15cdcb;
}
